
body {
    background-color: #3a4a93;
    
}
h1 {
    text-align: center;
    color: #ea00d9;
}
#container {
    width: 75%;
    height:700px;
    background-color: #5c58b6;
    background-size: cover;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    
    
}
#prompt {
    text-align: center;
    font-size: 30px;
    color: #0abdc6;
}
.btn {
    width:100px;
    height: 100px;
    font-size: 18px;
    font-weight: bolder;
    font-weight: bolder;
    background-color: #5994ce;
    color: #b957ce;
}
#button-container{
    display: flex;
    justify-content:space-evenly
}
#rock {
    
    
}
#paper {
    
}
#scissors {
  
}
.output-container {
    
    height:200px;
    text-align: center;
    font-size: 30px;
    font-family: monospace;
    font-weight: bolder;
    color: #b957ce;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}